//盒模型
@mixin box-sizing () {
	box-sizing:border-box;
}
//清浮动
@mixin clear-both () {
	&:after{
		content:'';
		clear:both;
		display:table;
	}
}
//字符串过长处理
@mixin ellipsis () {
  overflow:hidden;
  white-space:nowrap;
  text-overflow:ellipsis;
}
//flex居中
@mixin h-center () {
	display:flex;
	justify-content: center;
}
@mixin v-center () {
	display:flex;
	align-items:center;
}
@mixin hv-center () {
	display:flex;
	justify-content: center;
	align-items:center;
}
//position居中
@mixin pos-hv-center () {
	position:absolute;
	top:50%;
	left:50%;
	transform:translate(-50%,-50%);
}
@mixin pos-h-center () {
	position:absolute;
	left:50%;
	transform:translate(-50%,0%);
}
@mixin pos-v-center () {
	position:absolute;
	top:50%;
	transform:translate(0%,-50%);
}

