//colors
$theme-color:#333;
$border-color:#ccc;
//sizes
$top-height:36px;
$header-height:100px;
$footer-height:40px;
$radius:4px;
//padding & margin sizes
$component-padding:10px;
$component-margin:15px;